[user]
  name  = Alisue
  email = lambdalisue@gmail.com
  signingkey = B11731DAB90A2400

[rerere]
  enabled = true

[core]
  autocrlf = input
  ignorecase = false
  quotepath = false

[color]
  ui = auto

[push]
  default = current
  useForceIfIncludes = true

[branch]
  autosetupmerge = always

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[commit]
  gpgsign = true
  verbose = true

[diff]
  algorithm = patience
  colormoved = dimmed-zebra

[alias]
  push-f = push --force-with-lease --force-if-includes
  browse = "!deno run --allow-net --allow-run --allow-read --allow-env jsr:@lambdalisue/git-browse/cli"

[init]
  defaultBranch = main

[github]
  user = lambdalisue

[fetch]
  prune = true

[include]
  path = ~/.gitconfig.local
