*
!agents/
!agents/**/
!agents/**/*
agents/**/.DS_Store
!commands/
!commands/**/
!commands/**/*
commands/**/.DS_Store
!rules/
!rules/**/
!rules/**/*
rules/**/.DS_Store
!skills/
!skills/**/
!skills/**/*
skills/**/.DS_Store
!hooks/
!hooks/**/
!hooks/**/*
hooks/**/.DS_Store
!CLAUDE.md
!mcp.json
!settings.json
!statusline.ts
